<template>
	<ion-row style="display: flex; flex-grow: 2;">
		<ion-col class="ion-no-padding" style="display: flex; flex-direction: column">
			<ion-row style="flex-grow: 2;">
				<ion-col style="padding: 0.3rem 0; overflow: hidden;" size="12" size-sm- size-md="8" size-lg="6" offset-md="2" offset-lg="3">
					<BubbleGraph :data="data" category="Perso" @open-modal="openModal" />
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12" size-sm size-md="8" size-lg="4" offset-md="2" offset-lg="4">
					<ion-button
						router-link="/tabs/howto"
						color="light"
						expand="block"
						size="large"
						fill="outline"
						class="cta">
						Comment lire les bulles?
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</template>

<script>
/* eslint-disable */
import { defineComponent } from "vue";

import { IonRow, IonCol, IonButton } from '@ionic/vue';

import BubbleGraph from '@/components/BubbleGraph/BubbleGraph';

export default defineComponent({
  name: 'Me',
  components: { IonRow, IonCol, IonButton, BubbleGraph },
props: ['data'],
	methods: {
		openModal (a) {
			this.$emit('open-modal', a)
		}
	}
})
</script>

<style scoped>
h4 {
	margin-top: 0;
}
</style>
