<template>
  <ion-page>
    <ion-content :fullscreen="true" :forceOverscroll="false">
		<div class="modal-mask" v-if="data" :style="{'background': data[0].color || '#f55'}">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header" @click="$router.push('/tabs/tab1')">
						<img class="back-icon" src="/assets/icon/previous.svg"/>
						<h2>« {{ data[0].name }} » DETAIL</h2>
          </div>

					<div class="modal-body">
						<div style="height: 100%;">
							<BubbleGraph ref="bubbleGraph" :data="data" category="Perso" type="Modal"/>
						</div>
					</div>

				<!--<keep-alive>
						<component v-if="data" :is="tab" :data="data"></component>
				</keep-alive>-->

          <div class="modal-footer">
            <slot name="footer">
							<ion-row>
								<ion-col size="12" size-sm size-md="8" size-lg="4" offset-md="2" offset-lg="4">
									<ion-button
										@click="$emit('close'); $router.push('/tabs/howto')"
										color="light"
										expand="block"
										size="large"
										fill="outline"
										class="cta">
										Comment lire les bulles?
									</ion-button>
								</ion-col>
							</ion-row>
            </slot>
          </div>
        </div>
        </div>
    </div>
    </ion-content>
  </ion-page>
</template>

<script>
/* eslint-disable */
import { IonPage, IonContent, IonHeader, IonTitle, IonToolbar, IonButton, IonRow, IonCol } from "@ionic/vue";
import { defineComponent } from "vue";

import BubbleGraph from '@/components/BubbleGraph/BubbleGraph';

export default defineComponent({
  name: "Modal",
  props: {
		title: { type: String, default: "Super Modal" },
		color: { type: String, default: "#f55" }
  },
  data() {
    return {
      content: "Content",
			data: null
    };
  },
  components: { BubbleGraph, IonPage, IonContent, IonHeader, IonTitle, IonToolbar, IonButton, IonRow, IonCol },
	ionViewWillEnter () {
		this.updateData()
		if (this.$refs.bubbleGraph) {
			this.$refs.bubbleGraph.JSON = this.data
		}
	},
	mounted () {
		this.updateData()
	},
	methods: {
		updateData () {
			this.data = JSON.parse(localStorage.bubbleDetails)
		}
	}
});
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
	z-index: 1000000;
	position: fixed;
	top: 0;
	bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  padding: 12px;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-header {
	cursor: pointer;
	padding: 5px 0;
}

.modal-body {
  margin: 20px 0;
	flex-grow: 2;
}

.modal-default-button {
  display: block;
  margin-top: 1rem;
}

.back-icon {
	height: 1.25rem;
	margin-right: 0.7rem;
	display: inline;
	vertical-align: middle;
}

h2 {
	font-size: 1rem;
	color: white;
	display: inline;
	vertical-align: middle;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
