<template>
  <ion-page>
    <ion-content :fullscreen="true" :forceOverscroll="false">
			<ion-grid fixed v-if="data" style="display: flex; flex-direction: column; height: 100%;">
				<ion-row>
					<ion-col size="12" size-sm size-md="6" size-lg="4" offset-md="3" offset-lg="4">
						<ion-segment mode="ios" @ionChange="segmentChanged($event)" :value="tab">
							<ion-segment-button value="Me">
								<ion-label>Je suis</ion-label>
							</ion-segment-button>
							<ion-segment-button value="Seek">
								<ion-label>Je recherche</ion-label>
							</ion-segment-button>
						</ion-segment>
					</ion-col>
				</ion-row>
				<keep-alive>
						<component :is="tab" :data="data" @open-modal="openModal"></component>
				</keep-alive>
			</ion-grid>
    </ion-content>
  </ion-page>
  <!--<modal v-if="showModal && data" @close="showModal = false"-->
		<!--:title="'« ' + modalData[0].name + ' » DETAIL'" :color="modalData[0].color || '#f55'">-->
    <!--<template v-slot:body>-->
		<!--<div v-if="modalData" style="height: 100%;">-->
			<!--<BubbleGraph :data="modalData" category="Perso" type="Modal" />-->
		<!--</div>-->
    <!--</template>-->
  <!--</modal>-->
	<!--<button id="show-modal" @click="showModal = true">Show Modal</button>-->

</template>

<script>
/* eslint-disable */
import eventBus from "@/utils/eventbus";
import { defineComponent, ref } from "vue";

import { IonPage, IonContent, IonRow, IonCol, IonLabel, IonGrid, IonSegment, IonSegmentButton } from '@ionic/vue';

import Me from '@/views/Tab1/Me';
import Seek from '@/views/Tab1/Seek';

import Modal from './Modal.vue'
import BubbleGraph from '@/components/BubbleGraph/BubbleGraph';
import DotGraph from '@/components/BubbleGraph/DotGraph';

export default defineComponent({
  name: 'Tab1',
  components: { IonContent, IonPage, IonRow, IonCol, IonLabel, Me, Seek, Modal, BubbleGraph, DotGraph, IonGrid, IonSegment, IonSegmentButton },
	data () {
		return {
			tab: 'Me',
			data: null
		}
	},
	async mounted () {
		// TODO: Fetch from API
		/*fetch('/json/01.json')
			.then(r => (r.json()))
			.then((data) => {
				//console.log("2", data)
				this.data = data
			})*/
		if (localStorage.me) {
			this.data = JSON.parse(localStorage.me).part1
			//console.log("1", this.data)
			//this.modalData = this.data
		}
	},
  methods: {
    segmentChanged (event) {
		this.tab = event.detail.value
	},
	openModal (a) {
		let b = [{
			baseRadius: 56.525027235503714,
			color: "#fea140",
			dots: [
				{ name: "Communicatif", type: "QQ" },
				{ name: "Flexible", type: "Q" },
				{ name: "Intelligent", type: "Q" },
				{ name: "Bavard", type: "DD" },
				{ name: "Nerveux", type: "D" }
			],
			fraction: 0.18,
			hasMoved: true,
			id: "Charismatique",
			name: "Charismatique",
			position: { x: 263.5, y: 103.3 },
			radius: 56.525027235503714,
			value: 18.0297,
		}]
		localStorage.bubbleDetails = JSON.stringify(a)
		this.$router.push('/tabs/tab1/details')
	}
  }
})
</script>

<style scoped>
h4 {
	margin-top: 0;
}
</style>
