<template>
    <div
        class="bubble"
        :class="{
            'is-open': isOpen,
            'is-shrunk': isShrunk,
        }"
        :style="{ width, transform, opacity }"
        @click.stop.prevent="$emit('clicked', name)"
    >
        <div class="bubbleName" :style="{ color: textColor || '#FFFFFFF' }">{{ name }}</div>

        <div
            class="bubbleBG"
            :style="{ backgroundColor, transform: innerTransform }"
        />

        <div
            class="bubbleContent"
            :style="{ width: subWidthString, top: subOffset, left: subOffset }"
        >
            <Dot
                v-for="b in bubbles"
                :key="b.name"
                :name="b.name"
                :type="b.type"
                :base-radius="b.baseRadius"
                :radius="b.radius"
                :position="b.position"
                :background-color="backgroundColor"
            />
        </div>
    </div>
</template>



<script>
    import gsap from 'gsap'
    import Packer from './Packer/Packer'
    import Dot from './_Dot'

    import { random } from '../../utils/utils'

    const spacing = 10




    /* BUBBLE
    ---------------------------------------------------------------------------------------------------- */

    export default {

        /* Settings
        --------------------------------------------------------- */

        name: 'Bubble',


        components: {
            Dot,
        },


        props: {
            name: { type: String, required: true },
            data: { type: Array, required: true },

            maxDiameter: { type: Number, required: true },
            baseRadius: { type: Number, required: true },
            radius: { type: Number, required: true },
            backgroundColor: { type: String },
            textColor: { type: String },

            isOpen: { type: Boolean, required: true },
            isShrunk: { type: Boolean, required: true },

            position: { type: Object, required: true },
            hasMoved: { type: Boolean, required: true },

        },


        data() {
            return {
                packedBubbles: [],
                bubbles: [],
                Packer: new Packer({
                    spacing,
                    onMove: this.onMove,
                }),
            }
        },




        /* Life cycle
        --------------------------------------------------------- */

        created() {
            //
        },


        mounted() {
            this.$data.Packer.setBounds({
                width: this.subWidth,
                height: this.subWidth,
            })

            this.$data.Packer.setTarget({
                x: this.subWidth / 2,
                y: this.subWidth / 2,
            })

            this.reset()
            this.$data.Packer.start()
        },


        unmounted() {
            this.$emit('removed', this.$props.name)
        },




        /* Data handling
        --------------------------------------------------------- */

        watch: {
            bubbles(bubbles) {
                const newBubbles = bubbles.filter(b => !this.$data.packedBubbles.includes(b.id))

                this.$data.Packer.addCircles(newBubbles)
                this.$data.packedBubbles.push(...newBubbles.map(b => b.id))
            },


            isOpen(isOpen) {
                const { bubbles, Packer } = this.$data

                const values = bubbles.map(b => ({
                    name: b.name,
                    r: b.radius,
                    baseRadius: b.baseRadius,
                }))

                values.forEach((v) => {
                    const x = this.getRandomPos(v.r)
                    const y = this.getRandomPos(v.r)

                    if (isOpen) {
                        Packer.setCirclePosition(v.name, x, y)
                    }

                    gsap.to(v, 0.8, {
                        r: isOpen ? v.baseRadius : 0,
                        ease: 'power3.inOut',
                        onUpdate: () => {
                            Packer.setCircleRadius(v.name, v.r)
                        },
                        onComplete: () => {
                            if (!isOpen) {
                                Packer.setCirclePosition(v.name, x, y)
                            }
                        },
                    })
                })
            },
        },


        computed: {
            diameter() {
                return this.$props.radius * 2
            },


            width() {
                return `${this.maxDiameter}px`
            },


            opacity() {
                return this.$props.hasMoved ? 1 : 0
            },


            transform() {
                const { x, y } = this.$props.position
                const tX = Math.round((x - (this.maxDiameter / 2)) * 10) / 10
                const tY = Math.round((y - (this.maxDiameter / 2)) * 10) / 10

                return `translate3d(${tX}px, ${tY}px, 0)`
            },


            innerTransform() {
                const scale = this.diameter / this.$props.maxDiameter

                return `translate3d(0,0,0) scale(${scale})`
            },




            /* Dots (sub bubbles)
            --------------------------- */

            subWidth() {
                const squareSide = Math.sqrt(Math.pow(this.maxDiameter, 2) / 2)

                return squareSide * 1.1
            },


            subWidthString() {
                return `${this.subWidth}px`
            },


            subOffset() {
                return `calc(50% - ${this.subWidth / 2}px)`
            },
        },




        /* Methods
        --------------------------------------------------------- */

        methods: {

            /* Handlers
            --------------------------------------------------------- */

            onMove(pos) {
                this.$data.bubbles.forEach((b) => {
                    const newPos = pos[b.name]
                    if (!newPos) return

                    b.position.x = Math.round(newPos.position.x * 10) / 10
                    b.position.y = Math.round(newPos.position.y * 10) / 10
                    b.radius = newPos.radius
                })
            },




            /* Values
            --------------------------------------------------------- */

            reset() {
                this.$data.bubbles = this.formatData(this.$props.data)
            },


            getRadius(type) {
                const w = this.subWidth 
                return (type === 'QQ' || type === 'DD') ? (w / 4.5) : (w / 7)
            },


            getRandomPos(radius) {
                const c = this.subWidth / 2

                return c - radius + (random(-1, 1) * random(0, c))
            },


            formatData(data) {
                return data.map((b) => {
                    const radius = this.getRadius(b.type)

                    const x = this.getRandomPos(radius)
                    const y = this.getRandomPos(radius)

                    return {
                        id: b.name,
                        name: b.name,
                        type: b.type,
                        radius: 0.001,
                        baseRadius: radius,
                        position: { x, y },
                    }
                })
            }

        }

    }
</script>

<style lang="scss" scoped>
@import '@/theme/mixins.scss';

.bubble {
    overflow: hidden;
    @include ratio(100%, null);
    @include position(absolute, 0 null null 0);

    border-radius: 50%;

    cursor: pointer;
    pointer-events: none;

    will-change: transform;

    &::before {
        pointer-events: none;
    }
}

.bubbleName {
    display: flex;
    justify-content: center;
    align-items: center;
    @include position(absolute, 0);
    z-index: 1;

		font-size: 0.8rem;
		font-family: UniformRoundedBlack;
    text-shadow: 0 .2rem .4rem rgba(#000, .1);
    color: #fff;

    will-change: opacity, transform;
    transition: opacity .6s, transform .8s $ease-in-out-cubic;

		text-transform: uppercase;


    // States
    .is-open & {
        opacity: 0;
    }

    .is-shrunk & {
        transform: scale(.5);
    }


    // MQ
    @include minw($bp-mobile) {
        .is-shrunk & {
            transform: scale(.6);
        }
    }
}

.bubbleBG {
    @include position(absolute, 0);

    border-radius: 50%;

    pointer-events: all;

    will-change: transform;
    transform: translate3d(0, 0, 0) scale(1);
}

.bubbleContent {
    @include ratio(100%, null);
    @include position(absolute, 0 null null 0);

    // border: .1rem solid rgba(#000, .1);
    opacity: 0;

    transition: opacity .3s .2s;


    // States
    .is-open & {
        opacity: 1;

        transition: opacity .3s .1s;
    }
}
</style>
