<template>
    <div
        class="dot"
        :class="modifier"
        :style="{
            width,
            transform,
        }"
    >
        <div
            class="dotName"
            :style="{ color }"
        >{{ name }}</div>
    </div>
</template>



<script>

    /* DOT (sub bubble)
    ---------------------------------------------------------------------------------------------------- */

    export default {

        /* Settings
        --------------------------------------------------------- */

        name: 'Dot',


        props: {
            name: { type: String, required: true },
            type: { type: String, required: true },
            radius: { type: Number, required: true },
            baseRadius: { type: Number, required: true },
            position: { type: Object, required: true },
            backgroundColor: { type: String, required: true },
        },




        /* Life cycle
        --------------------------------------------------------- */

        unmounted() {
            this.$emit('removed', this.$props.name)
        },




        /* Data handling
        --------------------------------------------------------- */

        computed: {
            modifier() {
                const { type } = this.$props
                let mod = 'positive'

                if (type === 'D' || type === 'DD') {
                    mod = 'negative'
                }

                return `dot--${mod}`
            },


            color() {
                const { type, backgroundColor } = this.$props

                return (type === 'Q' || type === 'QQ') ? backgroundColor : null
            },


            diameter() {
                return this.$props.baseRadius * 2
            },


            width() {
                return `${this.$props.baseRadius * 2}px`
            },


            transform() {
                const { radius, baseRadius, position } = this.$props
                const { x, y } = position

                const scale = radius / baseRadius
                const tX = Math.round((x - (this.diameter / 2)) * 10) / 10
                const tY = Math.round((y - (this.diameter / 2)) * 10) / 10

                return `translate3d(${tX}px, ${tY}px, 0) scale(${scale})`
            },
        },

    }
</script>

<style lang="scss" scoped>
@import '@/theme/mixins.scss';
$c-tuna: #000;

.dot {
    overflow: hidden;
    @include ratio(100%, null);
    @include position(absolute, 0 null null 0);

    text-align: center;
    line-height: 1.1;

    border-radius: 50%;

    will-change: transform;


    // Modifiers
    &--positive {
        color: $c-tuna;

        background: #fff;
    }

    &--negative {
        color: #fff;

        background: #424646;
    }
}

.dotName {
    display: flex;
    justify-content: center;
    align-items: center;
    @include position(absolute, 0);
    padding: 1rem;
    font-size: 0.7rem;
		font-family: UniformRoundedBlack;
		text-transform: uppercase;

}
</style>
