<template>
	<div
		class="stage noselect"
		ref="stage"
		@click="openBubble = null"
		@mousemove="onMouseMove"
	>
		<Bubble
				v-for="b in bubbles"
				:key="b.name"
				:name="b.name"
				:background-color="b.color || '#FF0000'"
				:text-color="b.textColor || '#FFFFFF'"
				:data="b.dots"

				:base-radius="b.baseRadius"
				:radius="b.radius"
				:max-diameter="maxDiameter"
				:position="b.position"

				:has-moved="b.hasMoved"
				:is-open="b.name === openBubble"
				:is-shrunk="openBubble !== null && b.name !== openBubble"

				@removed="onBubbleRemoved"
				@clicked="onBubbleClicked"
		/>



	</div>
</template>



<script>
import { addListener, removeListener } from 'resize-detector'

import gsap from 'gsap'
import { groupBy } from 'lodash'

import { BB, /*clamp,*/ random } from '@/utils/utils'
import Packer from './Packer/Packer'
import Bubble from './_Bubble'

const spacing = 3


/* BUBBLE GRAPH
		---------------------------------------------------------------------------------------------------- */

export default {

	/* Settings
				--------------------------------------------------------- */

	name: 'BubbleGraph',


	components: {
		Bubble,
	},

	props: {
		category: {
			default: 'Perso'
		},
		data: {
			default: null
		},
		type: {
			default: 'Default' // or 'Modal'
		}
	},

	data() {
		return {
			dataFetched: false,

			JSON: null,
			width: 0,
			height: 0,

			bubbles: [],
			packedBubbles: [],
			openBubble: null,

			spacing,
			Packer: new Packer({
				spacing,
				onMove: this.onMove
			}),
		}
	},




	/* Life cycle
				--------------------------------------------------------- */

	created() {
		window.addEventListener('resize', this.getStageSize)
		document.addEventListener('keyup', this.onKeyUp)
	},


	mounted() {
		this.JSON = this.data
		this.Packer.start()
		this.getStageSize()
		this.createListener()
	},

	activated() {
		this.Packer.start()
		this.getStageSize()
		this.createListener()
	},

	deactivated() {
		this.destroyListener()
	},

	beforeRouteLeave() {
		this.destroyListener()
	},

	beforeUnmount() {
		this.destroyListener()
	},



	/* Data handling
				--------------------------------------------------------- */

	watch: {
		maxArea() {
			this.$data.bubbles.forEach((b) => {
				b.baseRadius = this.getBaseRadius(b.fraction)
			})
		},


		center(c) {
			this.$data.Packer.setTarget(c)
		},


		bubbles(geo) {
			const newGeo = geo.filter(g => !this.$data.packedBubbles.includes(g.id))

			this.$data.Packer.addCircles(newGeo)
			this.$data.packedBubbles.push(...newGeo.map(g => g.id))
		},


		spacing(p) {
			this.$data.Packer.setSpacing(p)
		},


		openBubble(name) {
			const { Packer, bubbles, width, height } = this.$data
			const openBubble = bubbles.find(b => b.name === name)
			const shrunkBubbles = bubbles.filter(b => b.name !== name)
			//const minRadius = 50

			// Freeze/Unfreeze opened circle
			Packer.setPinnedCircle(name)


			// Shrink Animation
			const shrinkVal = shrunkBubbles.map(b => ({
				name: b.name,
				r: b.radius,
				baseRadius: b.baseRadius,
			}))

			shrinkVal.forEach((v) => {
				gsap.to(v, 0.8, {
					r: openBubble ? v.baseRadius / 2 : v.baseRadius,
					ease: 'power3.inOut',
					onUpdate: () => {
						Packer.setCircleRadius(v.name, v.r)
					}
				})
			})


			if (!openBubble) return


			// Expand Animation
			const openVal = {
				r: openBubble.radius,
				x: openBubble.x,
				y: openBubble.y,
			}

			gsap.to(openVal, 0.8, {
				r: Math.sqrt(this.maxArea / Math.PI),
				x: width / 2,
				y: height / 2,
				ease: 'power3.inOut',
				onUpdate: () => {
					Packer.setCircleRadius(name, openVal.r)
					// Packer.setCirclePosition(name, openVal.x, openVal.y)
				}
			})
		},
	},


	computed: {
		center() {
			return {
				x: this.$data.width / 2,
				y: this.$data.height / 2,
			}                
		},


		maxRadius() {
			const { width, height } = this.$data

			return (Math.min(width, height) / 2.6)
		},


		maxDiameter() {
			return this.maxRadius * 2
		},


		maxArea() {
			return (Math.PI / 4) * (this.maxDiameter * this.maxDiameter)
		},


		total() {
			return this.$data.bubbles.reduce((acc, b) => (acc + b.value), 0)
		},
	},




	/* Methods
				--------------------------------------------------------- */

	methods: {

		createListener() {
			addListener(this.$refs.stage, () => {
				//console.log(this.$refs.stage.getBoundingClientRect())
				if (this.$refs.stage.getBoundingClientRect().height > 0) {
					this.Packer.start()
					this.getStageSize()
					this.reset()
				}
			})
		},

		destroyListener() {
			this.Packer.pause()
			if (this.$refs.stage) removeListener(this.$refs.stage)
		},

		/* Handlers
						--------------------------------------------------------- */

		onMove(pos) {
			this.$data.bubbles.forEach((b) => {
				const newPos = pos[b.name]
				if (!newPos) return

				b.hasMoved = true
				b.position.x = Math.round(newPos.position.x * 10) / 10
				b.position.y = Math.round(newPos.position.y * 10) / 10
				b.radius = newPos.radius
			})
		},


		onMouseMove(/*{ clientX, clientY }*/) {
			//const x = clamp(clientX - this.stageBB.left, 0, this.stageBB.width)
			//const y = clamp(clientY - this.stageBB.top, 0, this.stageBB.height)
		},


		onBubbleRemoved(name) {
			this.$data.Packer.removeCircle(name)
			this.$data.packedBubbles = this.$data.packedBubbles.filter(g => g !== name)
		},

		onBubbleClicked(event) {
			//console.log(document.body.clientWidth, 'jjjjjjj')
			if (document.body.clientWidth > 1000) {
				this.openBubble = (this.openBubble === event) ? null : event
			} else {
				const selectedBubble = this.$data.bubbles.filter(bubble => bubble.id === event)[0]
				//console.log('oooo', event, this.openBubble, this.$data.bubbles, [selectedBubble])
				this.$emit('open-modal', [selectedBubble])
			}
		},

		onKeyUp({ key }) {
			if (key !== 'Escape') return

			this.$data.openBubble = null
		},




		/* Values
						--------------------------------------------------------- */

		reset() {
			
			this.$data.bubbles = this.formatData(this.$data.JSON)
		},


		// Get Stage size to use it as bounds for the Packer
		getStageSize() {
			if(!this.$refs.stage) return
			this.stageBB = BB(this.$refs.stage)

			const { width, height} = this.stageBB
			//console.log(width, height)

			if (width > 0 && height > 0) {
				Object.assign(this.$data, { width, height })
				this.$data.Packer.setBounds({ width, height })
			}
		},


		// Compute base circle radius based on its fraction value
		getBaseRadius(fraction) {
			return Math.sqrt((this.maxArea * fraction) / Math.PI)
		},
        getRadius(type) {
            const w = this.stageBB.width 
            return (type === 'QQ' || type === 'DD') ? (w / 5) : (w / 7)
        },

		update (data) {

			this.$data.bubbles = this.formatData(data)
			//this.$data.bubbles = data//this.$data.JSON)
		},

		// Format flat JSON & group by [category] key
		formatData(data) {
			//debugger	
			//console.log('d', data)
			if (this.type === 'Modal' && data.length === 1) {
				const { x: cX, y: cY } = this.center
				//this.openBubble = (this.openBubble === data[0].name) ? null : data[0].name
				const bubble = data[0]
				const dots = bubble.dots.map(d => {
					d.fraction = bubble.fraction
					d.baseRadius = this.getBaseRadius(d.fraction)
					d.radius = this.getRadius(d.type)//bubble.radius
					//console.log(d.radius)
					d.color = (d.type === 'QQ' || d.type === 'Q') ? "#ffffff" : "#424646"
					d.textColor = (d.type === 'QQ' || d.type === 'Q') ? "#424646" : "#ffffff"
					d.position = {x:0,y:0}
					d.position.x = cX - d.radius + (random(-1, 1) * random(0, cX))
					d.position.y = cY - d.radius + (random(-1, 1) * random(0, cY))
					d.value = bubble.value
					d.id = d.name
					d.dots = []
					d.hasMoved = true
					//b.fraction = Math.round(b.value / total * 1000) / 1000
					return d
				})	
				//console.log(dots,";")
				return dots
			}

			const { x: cX, y: cY } = this.center
			const split = groupBy(data, 'category')
			const groups = Object.values(groupBy(split[this.category], 'color'))

			const bubbles = groups.map((bubble) => {
				// eslint-disable-next-line
				const { traits, points_perc, color } = bubble.find(s => s.type === 'QQ')

				return {
					id: traits,
					name: traits,
					// eslint-disable-next-line
					value: points_perc,
					color: '#' + color,
					hasMoved: false,
					position: { x: 0, y: 0 },
					dots: bubble.map(s => ({
						name: s.traits,
						type: s.type,
					})),
				}
			})

			const total = bubbles.reduce((acc, b) => (acc + b.value), 0)

			bubbles.forEach((b) => {
				b.fraction = Math.round(b.value / total * 1000) / 1000
				b.baseRadius = this.getBaseRadius(b.fraction)
				b.radius = b.baseRadius

				b.position.x = cX - b.radius + (random(-1, 1) * random(0, cX))
				b.position.y = cY - b.radius + (random(-1, 1) * random(0, cY))
			})
			//console.log('ok', bubbles)
			return bubbles
		}

	}

}
</script>

<style lang="scss" scoped>
@import '@/theme/mixins.scss';

.stage {
    //@include position(absolute, 0);
	width: 100%;
	height: 100%;

    //background: #fff;
    border-radius: 1.5rem;
	overflow: hidden;
	position: relative;
}
</style>
