
<template>
	<div
		class="stage noselect"
		ref="stage">
        <Dot
            v-for="b in bubbles"
            :key="b.name"
            :name="b.name"
            :type="b.type"
            :base-radius="b.baseRadius"
            :radius="b.radius"
            :position="b.position"
            :background-color="backgroundColor"
        />

	</div>
</template>



<script>
import eventBus from "@/utils/eventbus";
import { addListener, removeListener } from 'resize-detector'

import gsap from 'gsap'
import { groupBy } from 'lodash'

import { BB, /*clamp,*/ random } from '@/utils/utils'
import Packer from './Packer/Packer'
//import Bubble from './_Bubble'
import Dot from './_Dot'

const spacing = 3


/* BUBBLE GRAPH
		---------------------------------------------------------------------------------------------------- */

export default {

	/* Settings
				--------------------------------------------------------- */

	name: 'DotGraph',


	components: {
        //Bubble,
        Dot
	},

	props: {
		category: {
			default: 'Perso'
		},
		data: {
			default: null
		},
		type: {
			default: 'Default' // or 'Modal'
		}
	},

	data() {
		return {
			dataFetched: false,

			JSON: null,
			width: 0,
			height: 0,

			bubbles: [],
			packedBubbles: [],

			spacing,
			Packer: new Packer({
				spacing,
				onMove: this.onMove
			}),
		}
	},




	/* Life cycle
				--------------------------------------------------------- */

	created() {
		window.addEventListener('resize', this.getStageSize)
	},


	mounted() {
		this.JSON = this.data
		this.Packer.start()
		this.getStageSize()
		this.createListener();
		this.reset();
	},

	activated() {
		this.Packer.start()
		this.getStageSize()
		this.createListener();
	},

	deactivated() {
		this.destroyListener()
	},

	beforeRouteLeave() {
		this.destroyListener()
	},

	beforeUnmount() {
		this.destroyListener()
	},



	/* Data handling
				--------------------------------------------------------- */

	watch: {
		maxArea() {
			this.$data.bubbles.forEach((b) => {
				b.baseRadius = this.getBaseRadius(b.fraction)
			})
		},
		center(c) {
			this.$data.Packer.setTarget(c)
		},
		bubbles(geo) {
			const newGeo = geo.filter(g => !this.$data.packedBubbles.includes(g.id))
			this.$data.Packer.addCircles(newGeo)
			this.$data.packedBubbles.push(...newGeo.map(g => g.id))
		},
		spacing(p) {
			this.$data.Packer.setSpacing(p)
		},
	},


	computed: {
		center() {
			return {
				x: this.$data.width / 2,
				y: this.$data.height / 2,
			}                
		},
		maxRadius() {
			const { width, height } = this.$data

			return (Math.min(width, height) / 2.6)
		},
		maxDiameter() {
			return this.maxRadius * 2
		},
		maxArea() {
			return (Math.PI / 4) * (this.maxDiameter * this.maxDiameter)
		},
		total() {
			return this.$data.bubbles.reduce((acc, b) => (acc + b.value), 0)
		},
	},

	/* Methods
				--------------------------------------------------------- */

	methods: {

		createListener() {
			addListener(this.$refs.stage, () => {
				if (this.$refs.stage.getBoundingClientRect().height > 0) {
					this.Packer.start()
					this.getStageSize()
					this.reset()
				}
			})
		},

		destroyListener() {
			this.Packer.pause()
			if (this.$refs.stage) removeListener(this.$refs.stage)
		},

		/* Handlers
						--------------------------------------------------------- */

		onMove(pos) {
			this.$data.bubbles.forEach((b) => {
				const newPos = pos[b.name]
				if (!newPos) return

				b.hasMoved = true
				b.position.x = Math.round(newPos.position.x * 10) / 10
				b.position.y = Math.round(newPos.position.y * 10) / 10
				b.radius = newPos.radius
			})
		},

		/* Values
						--------------------------------------------------------- */

		reset() {
			this.$data.bubbles = this.formatData(this.$data.JSON)
		},


		// Get Stage size to use it as bounds for the Packer
		getStageSize() {
			if(!this.$refs.stage) return
			this.stageBB = BB(this.$refs.stage)

			const { width, height} = this.stageBB
			console.log(width, height)

			if (width > 0 && height > 0) {
				Object.assign(this.$data, { width, height })
				this.$data.Packer.setBounds({ width, height })
			}
		},


		// Compute base circle radius based on its fraction value
		getBaseRadius(fraction) {
			return Math.sqrt((this.maxArea * fraction) / Math.PI)
        },

        getRadius(type) {
            const w = this.stageBB.width 
            return (type === 'QQ' || type === 'DD') ? (w / 5) : (w / 7)
        },
        getRandomPos(radius) {
            const c = this.stageBB.width / 2 
            //console.log(c, c-radius, random(-1,1)*random(0,c),  c - radius + (random(-1, 1) * random(0, c)))
            return c - radius + (random(-1, 1) * random(0, c))
        },

		formatData(data) {
			const { x: cX, y: cY } = this.center
            const dots = data.dots.map((d) => {
                /*const radius = this.getRadius(d.type)
                const x = this.getRandomPos(radius)
                const y = this.getRandomPos(radius)

                //d.fraction = (d.type.length === 1) ? 0.1 : 0.2 // Math.round(b.value / total * 1000) / 1000
				d.baseRadius = radius//100//this.getBaseRadius(d.fraction)
                d.radius = radius
                d.position = { x, y }*/


				d.fraction = Math.round(30 / 100 * 1000) / 1000
				d.baseRadius = this.getBaseRadius(d.fraction)
				d.radius = this.getRadius(d.type)			
                d.position = {  x: cX - d.radius + (random(-1, 1) * random(0, cX)),
                                y: cY - d.radius + (random(-1, 1) * random(0, cY))}
                return d
            })

            return dots
        }
	}

}
</script>

<style lang="scss" scoped>
@import '@/theme/mixins.scss';

.stage {
    //@include position(absolute, 0);
	width: 100%;
	height: 100%;

    //background: #fff;
    border-radius: 1.5rem;
	overflow: hidden;
	position: relative;
}
</style>
