ion-item {
	--ion-background-color: transparent;
}

body .vuejs3-datepicker__calendar {
	color: #222;
	right: 0;
}
body .vuejs3-datepicker__icon {
	display: none;
}
body .vuejs3-datepicker #calendar-div {
	background: transparent;
}
body .vuejs3-datepicker__value {
	border: 0;
	min-width: 0;
	padding-right: 0;
}

body .vuejs3-datepicker__calendar-topbar {
	display: none;
}

body .vuejs3-datepicker__calendar .cell.selected,
body .vuejs3-datepicker__calendar .cell.selected:hover {
	background: #8840b9;
}
body .vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
body .vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
body .vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
	border-color: #8840b9;
}

[id^=ion-overlay-] {
	--ion-text-color: #222;
	--ion-background-color: white;
}

ion-segment {
	width: 100%;
	border: 1px solid;
	--ion-background-color: white;
	--color-checked: #333;
}

ion-grid {
	position: relative;
}
body ul {
	padding-left: 16px;
}

body .select-icon {
	opacity: 0.66;
}

body .inner-scroll.scroll-y {
	overflow: hidden;
}

.picker-below-highlight.sc-ion-picker-ios {
	top: 119px;
}
