.col-pt-half {
	padding-top: calc(var(--ion-grid-column-padding) / 2);
}
.col-pb-half {
	padding-bottom: calc(var(--ion-grid-column-padding) / 2);
}
.col-pl-half {
	padding-left: calc(var(--ion-grid-column-padding) / 2);
}
.col-pr-half {
	padding-right: calc(var(--ion-grid-column-padding) / 2);
}

@media (max-width: 767px) {
	.col-xs-pt-half {
		padding-top: calc(var(--ion-grid-column-padding) / 2);
	}
	.col-xs-pb-half {
		padding-bottom: calc(var(--ion-grid-column-padding) / 2);
	}
	.col-xs-pl-half {
		padding-left: calc(var(--ion-grid-column-padding) / 2);
	}
	.col-xs-pr-half {
		padding-right: calc(var(--ion-grid-column-padding) / 2);
	}
}
@media (min-width: 768px) {
	.col-md-pt-half {
		padding-top: calc(var(--ion-grid-column-padding) / 2);
	}
	.col-md-pb-half {
		padding-bottom: calc(var(--ion-grid-column-padding) / 2);
	}
	.col-md-pl-half {
		padding-left: calc(var(--ion-grid-column-padding) / 2);
	}
	.col-md-pr-half {
		padding-right: calc(var(--ion-grid-column-padding) / 2);
	}
}

