<template>
	<page>
		<ion-row>
			<ion-col size="12" size-md="8">
				<h1>Connais-toi<br>toi-même</h1>
				<p>
				Apprends à mieux te connaître en visualisant
				les traits dominants de ta personnalité.
				<br>
				Voyage à travers les bulles pour obtenir plus de détails sur ta dominante.
				<br>
				<br>
				Crée un compte pour être tenu informé(e) de nos
				nouvelles fonctionnalités et recevoir nos
				notifications de tes périodes clés.
				<br>
				<br>
				</p>
			</ion-col>
			<ion-col class="ion-no-padding v-center" size="12" size-md="4">
				<ion-row>
					<ion-col class="col-xs-pr-half col-md-pb-half" size="6" size-md="12">
						<ion-button
							router-link="/testonly"
							color="light"
							expand="block"
							size="large"
							fill="outline"
							class="cta">
							Tester
						</ion-button>
					</ion-col>
					<ion-col class="col-xs-pl-half col-md-pt-half" size="6" size-md="12">
						<ion-button
							color="light"
							size="large"
							expand="block"
							class="cta">
							S'enregistrer
						</ion-button>
					</ion-col>
				</ion-row>
				<a>
					<p class="sub" style="text-align: center">
					J'ai déjà un compte
					</p>
				</a>
			</ion-col>
		</ion-row>
		<ion-row class="h-center">
			<ion-col class="ion-no-padding" size="12" size-md="6" size-lg>
				<ion-row>
					<ion-col style="padding-bottom: 0">
						<h3>Mieux te connaître</h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="ion-no-padding">
						<ion-row>
							<ion-col size="4">
								<img src="/assets/me.png">
							</ion-col>
							<ion-col style="padding-left: 0">
								<p class="sub">
								Des bulles de couleurs et de
								tailles différentes pour mettre l'accent
								sur tes traits de personnalité.
								</p>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col class="ion-no-padding" size="12" size-md="6" size-lg>
				<ion-row>
					<ion-col style="padding-bottom: 0">
						<h3>Compare toi aux célébrités</h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="ion-no-padding">
						<ion-row>
							<ion-col size="4">
								<img src="/assets/match.png">
							</ion-col>
							<ion-col style="padding-left: 0">
								<p class="sub">
								Explore ta compatibilité unique
								avec tes célébrités préférèes:
								<ul>
									<li>Qui te ressemble le plus ?</li>
									<li>Qui t'attire le plus ?</li>
								</ul>
								</p>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col class="ion-no-padding" size="12" size-md="6" size-lg>
				<ion-row>
					<ion-col style="padding-bottom: 0">
						<h3>Identifie tes cycles</h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="ion-no-padding">
						<ion-row>
							<ion-col size="4">
								<img src="/assets/trends.png">
							</ion-col>
							<ion-col style="padding-left: 0">
								<p class="sub">
								Sois mieux préparé(s) à ce qui
								t'attend et compare ces
								périodes aux précédentes.
								</p>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
		<br>
		<ion-row>
			<ion-col class="col-pr-half" size="6" size-md="4" size-lg="3" offset-md="2" offset-lg="3">
				<ion-button
					router-link="/testonly"
					color="light"
					expand="block"
					size="large"
					fill="outline"
					class="cta">
					Tester
				</ion-button>
			</ion-col>
			<ion-col class="col-pl-half" size="6" size-md="4" size-lg="3">
				<ion-button
					color="light"
					size="large"
					expand="block"
					class="cta">
					S'enregistrer
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<a style="margin: auto">
				<p class="sub" style="">
				J'ai déjà un compte
				</p>
			</a>
		</ion-row>
	</page>
</template>

<script>
/* eslint-disable */
import { IonPage, IonButton, IonRow, IonCol } from "@ionic/vue";
import Page from '@/components/Page.vue';

export default {
	name: "Home",
	components: {
    Page,
    IonPage,
		IonButton,
		IonRow,
		IonCol
	}
}
</script>

<style scoped>
p.sub {
 font-size: 0.9em;
 margin: 0;
}

h3 {
	margin-bottom: 0;
}
</style>
