<template>
  <ion-page>
    <ion-content :fullscreen="true" :forceOverscroll="false">
			<ion-grid fixed>
				<ion-row>
					<ion-col size="12" size-sm="10" size-md="8" size-lg="6" offset-sm="1" offset-md="2" offset-lg="3">
						<div class="popup-container">
							<ion-row>
								<ion-col class="ion-no-padding ion-padding-bottom">
									<img class="close-icon" src="/assets/icon/close.svg" @click="$router.go(-1)"/>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col class="ion-no-padding">
									<h2>L'empreinte de ta personnalité</h2>
									<p>Nous calculons les dominantes de ta personnalité sur base de
									toutes les configurations planétaires au moment de ta
									naissance.</p>
									<h5>Comment lire ces informations?</h5>
								</ion-col>
							</ion-row>
							<ion-row class="ion-padding-bottom" style="align-items: center">
								<ion-col size="2">
									<img src="/assets/icon/howto3.svg"/>
								</ion-col>
								<ion-col class="ion-no-padding ion-padding-start">
									<p>La couleur représente une famille de traits de personnalité.
									<br>
									Chaque famille contient 3 qualités et 3 défauts.</p>
								</ion-col>
							</ion-row>
							<ion-row class="ion-padding-bottom" style="align-items: center">
								<ion-col size="2">
									<img src="/assets/icon/howto2.svg"/>
								</ion-col>
								<ion-col class="ion-no-padding ion-padding-start">
									<p>La taille représente la proportion des familles dans ta personnalité.
									<br>
									Plus grande est la bulle, plus ce trait est marquant.</p>
								</ion-col>
							</ion-row>
							<ion-row style="align-items: center">
								<ion-col size="2">
									<img src="/assets/icon/howto1.svg"/>
								</ion-col>
								<ion-col class="ion-no-padding ion-padding-start">
									<p>Le blanc représente les qualités et le noir les défauts.</p>
								</ion-col>
							</ion-row>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
/* eslint-disable */
import eventBus from "@/utils/eventbus";
import { defineComponent, ref } from "vue";

import { IonPage, IonContent, IonRow, IonCol, IonLabel, IonGrid } from '@ionic/vue';

export default defineComponent({
  name: 'HowTo',
  components: { IonContent, IonPage, IonRow, IonCol, IonLabel, IonGrid }
})
</script>

<style scoped>
.popup-container {
	background: rgba(0,0,0,0.4);
	padding: 1.5rem;
	padding-top: 1.2rem;
	border-radius: 0.8rem;
	font-size: 0.75rem;
}

h2 {
	margin-top: 0;
}

h5 {
	font-size: 1rem;
}

.close-icon {
	width: 1.4rem;
	float: right;
	cursor: pointer;
}

ion-row.ion-padding-bottom {
	padding-bottom: 8px;
}
</style>
