<template>
	<page>
		<ion-row class="">
			<ion-col size="12" size-md="6">
        <!--
        <h1 class="percentage" style="text-align: center;">12%</h1>
        -->
          <ion-row>
            <ion-col size="6" size-md="6">
              <img :class="{ active: step === 0, inactive: transitioning }" src="/assets/icon/constellation.svg" />
              <img :class="{ active: step === 1, inactive: transitioning }" src="/assets/icon/user.svg" />
              <img :class="{ active: step === 2, inactive: transitioning }" src="/assets/icon/relationship.svg" />
              <img :class="{ active: step === 3, inactive: transitioning }" src="/assets/icon/calendar.svg" />
              <img :class="{ active: step === 4, inactive: transitioning }" src="/assets/icon/check.svg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-md="8">
              <div class="wrapper">
                <div class="progress-bar">
                  <span class="progress-bar-fill shine" :style="{ width: `${progress}%` }"></span>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" style="text-align: center;">
              <p :style="{ display: step === 0 ? 'block' : 'none' }">Récupération des données de la NASA</p>
              <p :style="{ display: step === 1 ? 'block' : 'none' }">Création profil</p>
              <p :style="{ display: step === 2 ? 'block' : 'none' }">Création match célébrités</p>
              <p :style="{ display: step === 3 ? 'block' : 'none' }">Création calendrier</p>
              <p :style="{ display: step === 4 ? 'block' : 'none' }">Succès</p>
            </ion-col>
          </ion-row>
      </ion-col> 
		</ion-row>
	</page>
</template>

<script>
/* eslint-disable */
import { IonPage, IonRow, IonCol } from '@ionic/vue';
import Page from '@/components/Page.vue';
import API from '@/utils/api';

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms || DEF_DELAY));
}

export default {
  name: 'Loading',
  components: { IonPage, Page, IonRow, IonCol },
  data () {
    return {
      progress: 20,
      step: 0,
      transitioning: false,
      reset: false,
      alreadyLoaded: false,
      // step_duration: 2000,
      steps: [
        async () => {
          let me = await API.getMe()
          console.log(me)
          localStorage.me = JSON.stringify(me)
        },
        async () => {
           await sleep(2000)
        },
        async () => {
           await sleep(2000)
        },
        async () => {
           await sleep(2000)
        }
      ]
    }
  },
  methods: {
    resetData () {
      this.step = 0
      this.progress = 0
      this.reset = true
      this.alreadyLoaded = true
    },
    async next () {
      this.transitioning = false
      this.step++;
      this.progress += 20
      
      if (this.step < this.steps.length)
        this.update()
      else this.end()
      
    },
    async update () {
      if (this.steps[this.step])
          await this.steps[this.step]()

      this.transitioning = true
      setTimeout(this.next, 500)
      //const min = 3000
      //const max = 5000
      //const duration = 2000 // Math.floor(Math.random() * (max - min)) + min
      
      //setTimeout(this.next, duration)
      //this.next()
    },
    end () {
      setTimeout(() => { 
        // this.resetData()
        this.$router.push('/tabs/tab1')
      }, 3500)
    },
    ionViewWillEnter() {
      console.log('Home page will enter');
    },
    ionViewWillLeave() {
      console.log('Home page will leave');
    }
  },
  activated () {
    //this.update()
    if (this.alreadyLoaded) this.redirect()
  },
  updated () {
  },
  mounted () {
    localStorage.name = JSON.stringify({ a: 'b', c: 'd' })
    this.update()
  }
}
</script>

<style scoped>
.reset {
  -webkit-animation-duration: 1s;
}
.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

img {
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
img.active {
    opacity: 1;
    height: auto;
}
img.inactive {
  opacity: 0;
}

p {
  margin: 0;
}
ion-page{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.percentage {
  font-size: 5em;
}
ion-progress-bar {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  --progress-background: #fff;
  --buffer-background: transparent;
}
.progress-buffer-bar {
  background: transparent;
}
p,h1 {
  color: #fff;
}

.wrapper {
}

.progress-bar {
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
}

.progress-bar-fill {
  display: block;
  height: 8px;
  background-color: #fff;
  border-radius: 30px;

  transition: width 500ms ease-in-out;
}
</style>
