<template>
	<ion-page>
		<ion-content :fullscreen="true" :forceOverscroll="false">
			<div style="display: flex; flex-direction: column; height: 100%;">
				<ion-row>
					<ion-col size="12" size-sm size-md="6" size-lg="4" offset-md="3" offset-lg="4">
						<ion-segment mode="ios" @ionChange="segmentChanged($event)" value="je_suis">
							<ion-segment-button value="je_suis">
								<ion-label>Je suis</ion-label>
							</ion-segment-button>
							<ion-segment-button value="je_recherche">
								<ion-label>Je recherche</ion-label>
							</ion-segment-button>
						</ion-segment>
					</ion-col>
				</ion-row>

				<ion-row style="flex-grow: 2;">
					<ion-col style="padding: 0.3rem 0; overflow: hidden;"
						size="12" size-sm- size-md="8" size-lg="6" offset-md="2" offset-lg="3">
						<BubbleGraph ref="graph" />
					</ion-col>
				</ion-row>
			</div>
		</ion-content>
	</ion-page>
</template>

<script>
import { defineComponent } from "vue";
import { IonPage, IonContent } from '@ionic/vue';
import BubbleGraph from '@/components/BubbleGraph/BubbleGraph';

export default defineComponent({
  name: 'Tab1',
  components: { IonContent, IonPage, BubbleGraph },
  methods: {
    segmentChanged (event) {
      console.log(event)
    },
  }
})
</script>

<style scoped>
h4 {
	margin-top: 0;
}
</style>
