<template>
  <ion-page>
    <ion-content :fullscreen="true" :forceOverscroll="false">
      <ExploreContainer name="Bientôt disponible." sub="Section en construction" />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent } from '@ionic/vue';
import ExploreContainer from '@/components/ExploreContainer.vue';

export default  {
  name: 'Tab2',
  components: { ExploreContainer, IonContent, IonPage }
}
</script>
