<template>
  <ion-page>
		<ion-content :fullscreen="true" :forceOverscroll="false">
			<div style="display: flex;flex-direction:column;height:100%">
				<ion-row style="flex-grow:2">
					<ion-col class="ion-no-padding">
						<ion-router-outlet></ion-router-outlet>
					</ion-col>
				</ion-row>
				<tab-bar/>
			</div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import { IonPage } from '@ionic/vue';
import { ellipse, square, triangle } from 'ionicons/icons';

import TabBar from '@/components/TabBar.vue';
import Page from '@/components/Page.vue';

export default defineComponent({
  name: 'Tabs',
  components: { IonPage, TabBar },
  setup() {
    return {
      ellipse, 
      square, 
      triangle,
    }
  }
})
</script>

<style scoped>
ion-tab-bar {
  --background: #240055;
	--ion-tab-bar-border-color: transparent;
}
ion-label {
  font-size: .8em;
  color: #fff;
  margin-bottom: 5px;
}
img {
  max-height: 32px;
  margin-bottom: 5px;
  filter: grayscale(100%);
}
ion-tab-button {
  opacity: 0.7;
}
.tab-selected {
  opacity: 1;
}
</style>
