<template>
	<page>
		<ion-row>
			<ion-col class="v-center" size="12" size-md="10" size-lg="8" offset-md="1" offset-lg="0">
				<h1>Bubblelab <span>t'offre une expérience</span><br>personnalisée inégalée</h1> 
				<p>Bubblelab fait un calcul personnalisé de ton profil sur base de tes données
				de naissance.
				<br>
				La précision de ton heure de naissance est importante dans tous nos calculs.</p>
			</ion-col>
			<ion-col class="v-center" size="12" size-md="10" size-lg="4" offset-md="1" offset-lg="0">
				<ion-item>
					<ion-label>Genre</ion-label>
					<ion-select :value="user.gender" @ionChange="user.gender = $event.target.value" ok-text="Ok">
						<ion-select-option value="f">Femme</ion-select-option>
						<ion-select-option value="m">Homme</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-item style="overflow: initial; z-index: 110;">
					<ion-label style="min-width: 10rem">Lieu de naissance</ion-label>
					<location-autocomplete ref="locationAutocomplete"
						:value="user.bplace"
						@valChange="(e) => user.bplace = e"
					></location-autocomplete>
				</ion-item>
				<ion-item style="overflow: initial; z-index: 100;">
					<ion-label>Date de naissance</ion-label>
					<datepicker v-if="isPlatform('desktop')"
						:modelValue="user.bdate"
						format="MMM dd, yyyy"
						@selected="bdateSelected"
					></datepicker>
					<ion-datetime v-else
						:value="user.bdate"
						@ionChange="user.bdate = $event.target.value"
						display-format="MMM DD, YYYY"></ion-datetime>
				</ion-item>
				<ion-item style="overflow: initial; z-index: 90;">
					<ion-label style="min-width: 10rem">Heure de naissance</ion-label>
					<vue-timepicker v-if="isPlatform('desktop')"
						format="HH:mm"
						:hideClearButton="true"
						@input="(e) => user.btime = e"
						:value="user.btime"
					></vue-timepicker>
					<ion-datetime v-else :value="user.btime" @ionChange="user.btime = $event.target.value" display-format="HH:mm"></ion-datetime>
				</ion-item>
				<ion-item lines="none">
					<ion-label>Je ne connais pas mon heure<br>de naissance avec précision</ion-label>
					<ion-checkbox :value="user.knowing_birth_time" @ionChange="user.knowing_birth_time = $event.target.value" color="light"></ion-checkbox>
				</ion-item>
				<ion-button
					color="light"
					expand="block"
					size="large"
					class="cta"
          @click="create()">
					Création de mon profil
				</ion-button>
        <!--:router-link="loaded ? '/tabs/tab1' : '/loading'-->
			</ion-col>
		</ion-row>

		<!--<ion-alert-->
			<!--:is-open="isAlertOpen"-->
			<!--header="Alert"-->
			<!--sub-header="Subtitle"-->
			<!--message="This is an alert message.">-->
		<!--</ion-alert>-->
	</page>
</template>
<script>
/* eslint-disable */
import Page from '@/components/Page';
import {
	IonPage,
	IonButton,
	IonCol,
	IonRow,
	IonGrid,
	IonSelect,
	IonSelectOption,
	IonLabel,
	IonItem,
	IonInput,
	IonDatetime,
	IonCheckbox,
	isPlatform,
	alertController
} from "@ionic/vue";
import moment from 'moment-timezone';
import Datepicker from 'vuejs3-datepicker';

import VueTimepicker from '@/components/Timepicker';
import LocationAutocomplete from '@/components/LocationAutocomplete';

export default {
  name: 'TestOnly',
  data () {
    return {
			user: {
				bdate: "1985-06-15",
				btime: "00:00",
				bplace: null,
				gender: "f",
				knowing_birth_time: true,
			},
			loaded: false,
			knowing_birth_time: true,
			bplace: 'ok'
    }
  },
  methods: {
		// Use the HERE api to get the
		// Longitude and Latitude with the inputed birth place
    async getLocation (place) {
			place.trim().replaceAll(' ', '+')

			const apikey = 'WCYYudAQ3B34JZQkQRvgA126HfJGrZcVPL8V_Ifh9iY'
			
			let response = await fetch(`https://geocoder.ls.hereapi.com/6.2/geocode.json?searchtext=${place}&gen=9&apiKey=${apikey}&locationattributes=adminInfo,timeZone`)
			if (!response.ok) {
				console.error('Unable to fetch location.', response)
				return null
			}

			let json  = await response.json()
			let location = json.Response.View[0].Result[0].Location.DisplayPosition
			let timezone = json.Response.View[0].Result[0].Location.AdminInfo.TimeZone.id
			return { lat: location.Latitude, lon: location.Longitude, timezone }
		},
    setLoaded (value) {
      this.loaded = true;
    },
		isPlatform (platform) {
			return isPlatform(platform)
		},
		bdateSelected (e) {
			this.user.bdate = moment(e).format('YYYY-MM-DD')
		},
    async create () {
			const validUser = () => {
				return this.user.bplace !== null
			}
			
			if (!validUser()) {
				console.error("Can't create user: Invalid Inputs", this.user)
				return;
			}
		
			let location = await this.getLocation(this.user.bplace)
			if (!location) return;
		
			const user = Object.assign({}, this.user)
			user.lat = location.lat
			user.lon = location.lon

			var bdate = user.bdate.split('T')[0] + ' ' + user.btime

			var bdateUTC = moment.tz(bdate, 'YYYY-MM-DD HH:mm', location.timezone).utc()
			var yyyymmdd = bdateUTC.format('YYYY-MM-DD')
			var hhmm = bdateUTC.format('HH:mm')

			user.bdate = `${yyyymmdd} ${hhmm}`
			user.btime = `${hhmm}`

			console.log(user.bdate, user.btime)
			
			// Create / Update User object in localStorage
			localStorage.user = JSON.stringify(user)

			this.$router.push('/loading')
    }
  },
  components: {
		Page,
		IonButton,
    IonPage,
		IonCol,
		IonRow,
		IonGrid,
		IonSelect,
		IonSelectOption,
		IonLabel,
		IonItem,
		IonInput,
		IonDatetime,
		IonCheckbox,
		Datepicker,
		VueTimepicker,
		LocationAutocomplete
	}
}
</script>
<style scoped>
ion-item {
  --ion-font-family: UniformRounded !important;
	--padding-start: 0px;
	--inner-padding-end: 0px;
  --ion-item-border-color: #FFF3;
}
ion-datetime, ion-input, ion-checkbox {
	--padding-end: 0px;
	margin-right: 0px;
}
ion-select {
	--padding-end: 3px;
}
ion-input {
  --placeholder-opacity: .9 !important;
}
ion-checkbox {
  --border-color: #fff;
}
.cta {
	margin-top: 10px;
}
</style>
