<template>
	<div class="autocomplete-container">
		<div class="overlay" v-if="results.length > 0" @click="results = []"></div>
		<input :value="value" @input="update" placeholder="Paris" class="ion-text-end"/>
		<ul class="autocomplete-box">
			<li v-for="result in results"
				v-bind:key="result.id"
				@click="click(result)"
			>{{result.title}}</li>
		</ul>
	</div>
</template>

<script>
export default {
  name: 'LocationAutocomplete',
	props: ['value'],
  data () {
    return {
			results: [],
			selectedLocation: null
    }
  },
	methods: {
		click (result) {
			this.$emit('val-change', result.title)
			this.selectedLocation = result
			this.results = []
		},
		update (event) {
			const newValue = event.target.value
			this.$emit('val-change', newValue)
			this.selectedLocation = null
			this.updateSuggestions(newValue)
		},
		async updateSuggestions(query) {
			const apikey = 'WCYYudAQ3B34JZQkQRvgA126HfJGrZcVPL8V_Ifh9iY'

			const response = await fetch(
				`https://autosuggest.search.hereapi.com/v1/autosuggest` +
				`?q=${query}&apiKey=${apikey}&at=0,0&limit=20`
			)
			if (!response.ok) {
				console.error('Unable to fetch location.', response)
				this.results = []
				return null
			}
			const rawResults = (await response.json()).items

			this.results = rawResults.filter(result => {
				return result.resultType === 'locality' && result.localityType === 'city'
			}).slice(0, 5)
		}
	}
}
</script>

<style scoped>
.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.autocomplete-container {
	position: relative;
	display: inline-block;
	flex-grow: 1;
}
.autocomplete-box {
	position: absolute;
	right: 0;
	width: 100%;
	min-width: 300px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.12);
}
.autocomplete-box li {
	background: #fff;
	color: #222;
	padding: 0.6rem 1rem;
	font-size: 0.75rem;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	text-align: right;
}
.autocomplete-box li:hover {
	background: #eee;
}
.autocomplete-box li:last-of-type {
	border: 0;
}
input {
	background: transparent;
	border: 0;
	width: 100%;
}
</style>
