<template>
  <ion-page>
		<ion-content :fullscreen="true" :forceOverscroll="false">
      <LavaLamp v-if="displayLavaLamp"/>
			<ion-grid fixed class="v-center">
				<slot></slot>
			</ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonGrid } from "@ionic/vue";
import LavaLamp from '@/components/LavaLamp.vue';

export default {
  name: 'Page',
	props: {
		displayLavaLamp: {
			default: true
		}
	},
  components: {
		LavaLamp,
    IonPage,
		IonContent,
		IonGrid
	}
}
</script>

<style scoped>
ion-grid {
	min-height: 100%;
}

@media (max-width: 767px) {
	ion-grid.v-center {
		display: inline;
	}
	ion-grid {
		padding-top: 20px;
	}
}
</style>
