<template>
	<ion-row>
		<ion-col class="ion-no-padding">
			<router-link class="tab-button" to="/tabs/tab1">
				<img src="/assets/me.png">
				<ion-label>MOI</ion-label>
			</router-link>
		</ion-col>
		<ion-col class="ion-no-padding">
			<router-link class="tab-button" to="/tabs/tab2">
				<img src="/assets/match.png">
				<ion-label>MATCH</ion-label>
			</router-link>
		</ion-col>
		<ion-col class="ion-no-padding">
			<router-link class="tab-button" to="/tabs/tab3">
				<img src="/assets/trends.png">
				<ion-label>CALENDRIER</ion-label>
			</router-link>
		</ion-col>
	</ion-row>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import { IonLabel, IonRow, IonCol } from '@ionic/vue';
import { ellipse, square, triangle } from 'ionicons/icons';

export default defineComponent({
  name: 'TabBar',
  components: { IonLabel, IonRow, IonCol },
  setup() {
    return {
      ellipse, 
      square, 
      triangle,
    }
  }
})
</script>

<style scoped>
ion-row {
	justify-content: center;
	position: fixed;
	bottom: 0;
	background: #1e0051;
	width: 100%;
	height: 64px;
	align-items: center;
}
ion-col {
	max-width: 168px;
}
ion-label {
  font-size: .7em;
  color: #fff;
  margin-bottom: 5px;
}
img {
  max-height: 32px;
  margin-bottom: 5px;
  filter: grayscale(100%);
}
.tab-button {
  opacity: 0.7;
}
.tab-button.router-link-active {
  opacity: 1;
}

.tab-button {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-decoration: none;
}
</style>
