<template>
	<ion-grid fixed style="padding: 0">
		<ion-row>
			<ion-col>
				<ion-toolbar>
					<ion-buttons slot="primary">
						<ion-select slot="end" value="fr" ok-text="Ok" :interfaceOptions="{'header': 'Langue'}">
							<ion-select-option value="fr">Fr</ion-select-option>
							<ion-select-option value="en">En</ion-select-option>
						</ion-select>
					</ion-buttons>
					<router-link to="/" slot="start">
						<img src="/assets/logo.png" height="30">
					</router-link>
				</ion-toolbar>
			</ion-col>
		</ion-row>
	</ion-grid>
</template>

<script>
import { defineComponent } from 'vue';

import {
	IonCol,
	IonRow,
	IonGrid,
	IonSelect,
	IonSelectOption,
	IonToolbar,
	IonButtons
} from "@ionic/vue";

export default defineComponent({
  name: 'Toolbar',
	components: {
		IonCol,
		IonRow,
		IonGrid,
		IonSelect,
		IonSelectOption,
		IonToolbar,
		IonButtons
	}
})
</script>

<style scoped>
ion-toolbar {
	--padding-start: 0px;
	--padding-end: 0px;
	--min-height: 30px;
}
ion-grid {
  --ion-grid-padding: 10px;
}

ion-select {
  font-family: UniformRoundedBlack;
}
</style>
