<template>
	<ion-app>
		<toolbar style="z-index: 1"/>
		<ion-router-outlet :style="{
			'margin-top': !$route.meta.fullscreen ? '64px' : '0px',
			'margin-bottom': $route.path.startsWith('/tabs') && !$route.meta.fullscreen ? '64px' : '0px',
			'z-index': 1
		}"/>
		<tab-bar v-if="$route.path.startsWith('/tabs') && !$route.meta.fullscreen"/>
	</ion-app>
</template>

<script>
import { IonApp, IonRouterOutlet } from '@ionic/vue';
import Toolbar from '@/components/Toolbar.vue';
import TabBar from '@/components/TabBar.vue';

export default {
  name: 'App',
  components: {
    IonApp,
    IonRouterOutlet,
		Toolbar,
		TabBar
  }
}
</script>

<style>
* {
  font-family: UniformRounded;
}
h1,h2,h3,h4,h5,h6,button,.cta, h1>span, ion-label, ion-segment-button {
  font-family: UniformRoundedBlack;
}
ion-router-outlet {
	transition: margin 0.3s;
}
ion-select {
	--ion-background-color: #000;
}
ion-toolbar {
  --background: transparent;
}
ion-toolbar ion-item {
  --background: transparent;
}

body h1:first-of-type {
	margin-top: 0;
}
h1 > span {
	white-space: nowrap;
}

body a, body a:visited, body a:hover, body a:focus {
	color: #fff;
	text-decoration: underline;
}
.cta {
  font-size: .95em !important;
  height: 3.8em;
  text-transform: none;
}

.v-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.h-center {
	display: flex;
	justify-content: center;
}
</style>

