<template>
	<ion-row>
		<ion-col size="12" size-sm size-md="6" size-lg="4" offset-md="3" offset-lg="4">
			<ion-segment mode="ios" @ionChange="segmentChanged($event)" :value="tab">
				<ion-segment-button value="je_suis">
					<ion-label>Je suis</ion-label>
				</ion-segment-button>
				<ion-segment-button value="je_recherche">
					<ion-label>Je recherche</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-col>
	</ion-row>
</template>

<script>
import { defineComponent } from "vue";

import { IonRow, IonCol, IonLabel } from '@ionic/vue';

export default defineComponent({
  name: 'Tab1',
  components: { IonRow, IonCol, IonLabel }
})
</script>
